<div class="page">
  <header class="hero">
    <div class="brand">
    <img src="logo.png" (click)='shopShow()'>
    
    </div>

    <div class="actions">
      <p-button styleClass="btn warm" [label]="userName()" icon="pi pi-user" (click)='accountShow()' />
      <p-overlaybadge [value]="cartCount()" severity="danger" badgeSize="small">
        <p-button styleClass="btn deep" label="Cart" (click)="cartShow()" icon="pi pi-shopping-cart" />
      </p-overlaybadge>
    </div>
  </header>

  <section class="content">
    <router-outlet />
  </section>
</div>