<div class="continar">
  <div class="auth-card">
    <h1 class="header">Create your workspace</h1>
    <p class="subheader">Set up your details to start tracking everything in one place.</p>
    <form [formGroup]="frmSignUp" class="newUser">
      <p-floatlabel variant="on">
        <input pInputText id="email" autocomplete="off" formControlName="email" />
        <label for="email">Email address</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input pInputText id="firstName" autocomplete="off" formControlName="firstName" />
        <label for="firstName">First name</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <input pInputText id="lastName" autocomplete="off" formControlName="lastName" />
        <label for="lastName">Last name</label>
      </p-floatlabel>
            <p-floatlabel variant="on">
        <input pInputText id="address" autocomplete="off" formControlName="address" />
        <label for="address">Address</label>
      </p-floatlabel>
      <p-floatlabel variant="on">
        <p-password formControlName="password" [toggleMask]="true" inputId="password" />
        <label for="password">Password</label>
      </p-floatlabel >
      <p-button label="Create account" [raised]="true" severity="secondary" [disabled]="frmSignUp.invalid" />
      <p class="login-text">Already a member?
        <a class="login-link">Sign in</a>
      </p>
    </form>
  </div>
</div>
