<div class="filters">
    <div class="filter-container">

        <section>
            <p-inputgroup class="search-input">
                <input pInputText [(ngModel)]="search" placeholder="search" (keyup.enter)="onSearch()"
                    (blur)="onSearch()" />
            </p-inputgroup>

        </section>

        <hr>

        <section>
            <h3 class="filter-title">SORT BY</h3>
            <div class="options-row">
                <button class="chip" [class.active]="sortBy === 'name' && sortDirection === 'asc'" (click)="onSortChange('name', 'asc')">
                    Name from A to Z
                </button>

                <button class="chip" [class.active]="sortBy === 'name' && sortDirection === 'desc'" (click)="onSortChange('name', 'desc')">
                    Name from Z to A   
                </button>

                <button class="chip" [class.active]="sortBy === 'price' && sortDirection === 'asc'" (click)="onSortChange('price', 'asc')">
                    Priced from low to high
                </button>

                <button class="chip" [class.active]="sortBy === 'price' && sortDirection === 'desc'" (click)="onSortChange('price', 'desc')">
                    Priced from high to low
                </button>
            </div>
        </section>

        <hr>

        <section>

            <h3 class="filter-title">CATEGORIES</h3>
            <div class="categories-wrapper">
                <div class="card flex justify-center">
                    <div class="categories-row">
                        @for (category of categories; track category.id) {
                        <div class="category-item flex w-full">
                            <p-checkbox [value]="category.id" [inputId]="category.name"
                                [(ngModel)]="selectedCategoriesIds" (onChange)="onCategoryChange()" />
                            <label [for]="category.name" class="category-label">
                                {{category.name}}
                            </label>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section>
            <h3 class="filter-title">PRICE</h3>
            <div class="price-slider-container">
                <p-slider [(ngModel)]="rangeValues" (onSlideEnd)="onPriceChange($event.values ?? rangeValues)" [range]="true"
                    [min]="minLimit" [max]="maxLimit" />

                <div class="price-inputs">
                    <div class="price-field">
                        <label>Minimum price</label>
                        <div class="input-box">{{ rangeValues[0] }} $</div>
                    </div>
                    <div class="price-field">
                        <label>Maximum price</label>
                        <div class="input-box">{{ rangeValues[1] }} $</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
